[submodule "fluitec.appfx.options"]
	path = fluitec.appfx.options
	url = http://gitlab.fluitech.org/fluitec/fluitec.appfx.options.git
[submodule "fluitec.appfx.data"]
	path = fluitec.appfx.data
	url = https://gitlab.fluitech.org/fluitec/fluitec.appfx.data.git
